.row {
  width: 100%;
  overflow: auto;
}

.row > * {
  float: left;
}

.row-6 .col {
  width: 16%;
}

.row-6 .col:nth-child(6n+1) {
  margin: 0% 1% 0% 0%;
}

.row-6 .col:nth-child(6n+2) {
  margin: 0% 1% 0% 1%;
}

.row-6 .col:nth-child(6n+3) {
  margin: 0% 1% 0% 1%;
}

.row-6 .col:nth-child(6n+4) {
  margin: 0% 1% 0% 1%;
}

.row-6 .col:nth-child(6n+5) {
  margin: 0% 1% 0% 1%;
}

.row-6 .col:nth-child(6n+6) {
  margin: 0% 0% 0% 1%;
}

@media screen and (max-width: 400px) {
  .row .col:nth-child(n) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.col img {
  display: block;
  width: 100%;
}

.main {
  max-width: 950px;
  margin: 0 auto;
  padding: 25px;
}