.login {
  height: 100vh;
  position: relative;
  display: flex;
}

.login .container {
  margin: auto;
  justify-content: center;
}

.login-main {
  border: 2px double rgb(201, 201, 201);
  border-radius: 10px;
  padding: 35px;
}
